@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

a {
    color: #b1b1b3;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}